[*.cs]

# Disabled Meziantou.Analyzer rules

# MA0004: Use Task.ConfigureAwait(false)
# Reason: Don't need to use ConfigureAwait(false) for test methods
dotnet_diagnostic.MA0004.severity = none

# Disabled Microsoft.VisualStudio.Threading.Analyzers rules

# VSTHRD200: Use "Async" suffix for async methods
# Reason: Don't need to use Async suffix for test methods and give better clarity
# https://github.com/Microsoft/vs-threading/blob/main/doc/analyzers/VSTHRD200.md
dotnet_diagnostic.VSTHRD200.severity = none

# Disabled StyleCop rules

# SA0001: XML comment analysis is disabled due to project configuration settings
# Reason: Don't need to generate the xml document for test projects
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA0001.md
dotnet_diagnostic.SA0001.severity = none

# SA1202: An element within a C# code file is out of order within regard to access level, in relation to other elements in the code.
# Reason: Don't need to order the elements in the test projects
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1202.md
dotnet_diagnostic.SA1202.severity = none

# SA1402: File may only contain a single type
# Reason: Can have multiple types in a single file for better reading
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1402.md
dotnet_diagnostic.SA1402.severity = none

# SA1600: Elements should be documented
# Reason: Don't need to document test projects
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1600.md
dotnet_diagnostic.SA1600.severity = none

# Disabled rules

# IDE0021: Use expression body for constructors
# Reason: Disabled expression body to read the code easily
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0021
csharp_style_expression_bodied_constructors = false:silent

# IDE0022: Use expression body for methods
# Reason: Disabled expression body to read the code easily
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0022
csharp_style_expression_bodied_methods = when_on_single_line:silent
