<div class="autocomplete-container">
    <div class="autocomplete-input">
        <input type="text" aria-label="search a country" placeholder="Canada, Italy..." />
        <button class="btn-guess">Guess!</button>
    </div>
    <ul class="autocomplete-items" role="list">
        <li class="autocomplete-item">Canada</li>
        <li class="autocomplete-item">Japan</li>
        <li class="autocomplete-item">Nepal</li>
        <li class="autocomplete-item">San Marino</li>
        <li class="autocomplete-item">Canada</li>
        <li class="autocomplete-item">Japan</li>
        <li class="autocomplete-item">Nepal</li>
        <li class="autocomplete-item">San Marino</li>
        <li class="autocomplete-item">Canada</li>
        <li class="autocomplete-item">Japan</li>
        <li class="autocomplete-item">Nepal</li>
        <li class="autocomplete-item">San Marino</li>
        <li class="autocomplete-item">Canada</li>
        <li class="autocomplete-item">Japan</li>
        <li class="autocomplete-item">Nepal</li>
        <li class="autocomplete-item">San Marino</li>
        <li class="autocomplete-item">Canada</li>
        <li class="autocomplete-item">Japan</li>
        <li class="autocomplete-item">Nepal</li>
        <li class="autocomplete-item">San Marino</li>
    </ul>
</div>
