<div class="autocomplete-container">
    <div class="autocomplete-input">
        <input tabindex="0" @bind="_input" @oninput="SearchCountry" @onfocus="FocusSearch" type="text" aria-label="search a country" placeholder="Canada, Italy..." />
        <button class="btn-guess">Guess!</button>
    </div>
    <ul class="autocomplete-items" role="list">
        @foreach((string code, string name) in _filteredCountries)
        {
            <li class="autocomplete-item" @onclick="() => SelectCountry(code)">@name</li>
        }
    </ul>
</div>
