footer {
  padding: 1em;
  font-size: var(--font-size-sm);
  font-weight: bold;

  & > ul {
    display: flex;
    gap: 12px;

    & > li:not(:first-child) {
      display: flex;
      align-items: center;
      gap: 12px;

      &::before {
        content: '';
        display: inline-block;
        width: 1px;
        min-height: 1em;
        background: var(--color-primary)
      }
    }
  }
}
