@page "/"

<div class="game">
    @if (!string.IsNullOrEmpty(_randomizedCca2))
    {
        <picture>
            <source srcset="@GetRandomizedFlag()" type="image/webp" />
            <img src="@GetRandomizedFlag()" alt="Flag" />
        </picture>
    }
    <CountryAutocomplete />
</div>
