@page "/"

<div class="game">
    @if (!string.IsNullOrEmpty(_randomizedCca2))
    {
        <picture>
            <source srcset="@GetRandomizedFlag()" type="image/svg+xml" />
            <img src="@GetRandomizedFlag()" alt="Flag" />
        </picture>
    }
    <div class="guess">
        <CountryAutocomplete Guess="Guess" />
        <FlagGuesses />
    </div>
</div>
