@page "/"

<div class="game">
    <picture>
        <source srcset="https://flagcdn.com/w640/ua.webp" type="image/webp" />
        <img src="https://flagcdn.com/w640/ua.webp" alt="Atlas" />
    </picture>
    <CountryAutocomplete />
</div>
