@page "/"

<div class="games-container">
    <h2>Games</h2>
    <ul class="games" role="list">
        <li class="game-item">
            <i class="fg-flag-start"></i><a class="link" href="/flags/random">Random flag</a>
        </li>
    </ul>
</div>
