<div class="not-found">
    <h1>404</h1>
    <div class="message">
        <p>Oh no, the page is nowhere on the maps!</p>
        <a href="/" class="link">
            <i class="@Icons.ArrowLeftCircle"></i>
            <span>Go back</span>
        </a>
    </div>
</div>
