%input {
  color: var(--color-text);
  background: var(--color-secondary);
  padding: 0.5em 0.75em;
  border: none;
  border-radius: 8px;
}

input, textarea {
  @extend %input;
  font-weight: bold;

  &:focus-visible {
    outline: 2px solid var(--color-accent);
  }

  &::placeholder {
    font-style: italic;
    font-weight: normal;
    color: var(--color-secondary-accent);
  }

  &:disabled {
    background: var(--color-secondary-accent);
    color: var(--color-secondary);
    opacity: 0.7;
  }
}

button {
  @extend %input;
  cursor: pointer;
  border: 1px solid var(--color-text);
  transition: background 250ms;
  outline: none;

  &:not(:disabled, .hamburger):hover, &:not(:disabled, .hamburger):focus-visible {
    background: var(--color-secondary-accent);
    color: var(--color-secondary);
  }

  &:disabled {
    background: var(--color-secondary-accent);
    color: var(--color-secondary);
    cursor: unset;
    opacity: 0.7;
  }
}
