    <h2>Difficulty</h2>

    <div class="flag-difficulty-settings">
        <h3>Flags</h3>
        <div class="flag-difficulty">
            <h4>All flag games</h4>

            <label for="all">Default</label>
            <input type="checkbox" />

            <label for="all">Blur</label>
            <input type="checkbox" />

            <label for="all">Invert</label>
            <input type="checkbox" />

            <label for="all">Shift</label>
            <input type="checkbox" />
        </div>
        <div class="flag-difficulty">
            <h4>Randomized flag game</h4>

            <label for="all">Default</label>
            <input type="checkbox" />

            <label for="all">Blur</label>
            <input type="checkbox" />

            <label for="all">Invert</label>
            <input type="checkbox" />

            <label for="all">Shift</label>
            <input type="checkbox" />
        </div>
        <div class="flag-difficulty">
            <h4>Daily flag game</h4>

            <label for="all">Default</label>
            <input type="checkbox" />

            <label for="all">Blur</label>
            <input type="checkbox" />

            <label for="all">Invert</label>
            <input type="checkbox" />

            <label for="all">Shift</label>
            <input type="checkbox" />
        </div>
    </div>
