@use '../utils/images' as *;

.game {
  --max-width: 320px;

  display: grid;
  gap: 2em;
  justify-content: center;
  padding-block: 1.5rem;
  min-width: var(--max-width);
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "picture"
    "guess";

    & > picture {
      grid-area: picture;
      @include image(var(--max-width));
    }

    & > :nth-child(2) {
      grid-area: guess;
    }
}
