@use '../utils/media' as *;

.main-layout {
  display: grid;
  min-height: 100svh;
  grid-template-columns: auto minmax(auto, 512px) auto;
  grid-template-rows: var(--header-height) 1fr auto;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

@include media-breakpoint-down(md) {
  .main-layout {
    grid-template-areas:
    "header header header"
    ". main ."
    ". footer .";
  }
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  place-self: center;
}
