@using Atlas.Web.App.Modals

<div class="game">
    @if (Image is not null)
    {
        <picture class="country-image" @onclick="Zoom">
            <source srcset="@Image.Uri" type="@Image.MediaType" />
            <img src="@Image.Uri" alt="Failed to display the country" />
        </picture>
    }
    <div class="content">
        @ChildContent
    </div>
</div>
@if (Image is not null)
{
    <ZoomModal @ref="_modal" Image="Image" />
}
